:root {
    --background-color: blanchedalmond;
    --body-color: bisque;
    --border-color: burlywood;

    --confirm: #85dd85;
    --confirm-hover: #7dc97d;

    --normal-gap: 32px;
}

html {
    background-color: var(--background-color);

    width: 100%;
    min-height: 100%;

    font-size: large;
    font-family: "Inter", sans-serif;
}

body {
    background-color: var(--body-color);
    box-shadow: 0 0 3em var(--border-color);
    outline: 2px var(--border-color) solid;

    width: 100%;
    max-width: 1000px;
    box-sizing: border-box;
    margin: auto;
    padding: var(--normal-gap);

    /* animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-name: animate-body; */
}

main * {
    animation-duration: 0.5s;
    animation-name: animate-fade;
    /*animation-fill-mode: backwards;*/
}

main {
    display: flex;
    flex-direction: column;
    gap: var(--normal-gap);
}

h3 {
    font-size: 2em;
    margin: 0.5em 0;
}

/* image and video */

img,
video {
    border-radius: 1em;
}

video {
    width: 100%;
}

/* image row sections */

section.image-row {
    display: flex;
    flex-direction: row;
    gap: var(--normal-gap);
}

section.image-row img {
    width: 100%;
    height: auto;
    min-width: 0;
}

/* photo-contact section */

#photo-contact {
    display: flex;
    gap: var(--normal-gap);
}

#photo-container {
    flex: 1 1 0;
}

#photo-container img {
    width: 100%;
}

#contact-info {
    flex: 2 2 0;
    flex-direction: column;
}

/* contact info list */
#contact-info ul {
    list-style-type: none;
    padding-left: 1em;
}

/* media queries */

@media screen and (max-width: 800px) {
    section.image-row {
        flex-direction: column;
    }

    #photo-container {
        flex: 2 2 0;
    }
}

@media screen and (max-width: 600px) {
    #photo-contact {
        flex-direction: column;
        gap: 0;
    }

    #photo-container {
        width: 100% !important;
    }
}

/* keyframes for animations */

@keyframes animate-body {
    0% {
        opacity: 0;
        transform: scale(10, 1);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes animate-fade {
    0% {
        opacity: 0;
        transform: translate(0, 10px);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

/* form */

form {
    display: flex;
    flex-direction: column;
}

form :is(label, input, textarea) {
    font-family: inherit;
    font-size: 1rem;
}

form :is(input, textarea) {
    margin-bottom: 8px;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 0.5em;
    border: 2px solid var(--border-color);
}

form textarea {
    min-height: 5em;
    width: 100%;
    resize: vertical;
}

form input[type="submit"] {
    background-color: var(--confirm);
    width: min-content;
    padding: 0.5em 1em;
    transition: background-color 0.2s;
}

form input[type="submit"]:hover {
    background-color: var(--confirm-hover);
}
