/* :root {
    --text-colour: initial;
    --background-color: blanchedalmond;
    --body-color: bisque;
    --border-color: burlywood;

    --link-colour: initial;

    --confirm: #85dd85;
    --confirm-hover: #7dc97d;

    --normal-gap: 32px;
} */

:root {
    --text-colour:         #ffffff;
    --background-color:    #4d4d4d;
    --body-color:          #474747;
    --border-color:        #3b3b3b;

    --text-form:           #000000;
    --background-form:     #ffffff;

    --link-colour:         #5e7dff;
    --link-hover-colour:   #4d6ce9;
    --link-active-colour:  #2e47ad;
    /*--link-visited-colour: #9c5eff;*/
    --link-visited-colour: var(--link-colour);

    --confirm:             #469246;
    --confirm-hover:       #3e813e;

    --normal-gap: 32px;
}

html {
    background-color: var(--background-color);

    width: 100%;
    min-height: 100%;

    font-size: large;
    font-family: "Inter", sans-serif;
    color: var(--text-colour);
}

body {
    background-color: var(--body-color);
    box-shadow: 0 0 3em var(--border-color);
    outline: 2px var(--border-color) solid;

    width: 100%;
    max-width: 1000px;
    box-sizing: border-box;
    margin: auto;
    padding: var(--normal-gap);
}

main {
    display: flex;
    flex-direction: column;
    gap: var(--normal-gap);
}

h3 {
    font-size: 2em;
    margin: 0.5em 0;
}

a {
    color: var(--link-colour);
}

a:hover {
    color: var(--link-hover-colour);
}

a:active {
    color: var(--link-active-colour);
}

a:visited {
    color: var(--link-visited-colour);
}

/* image and video */

img,
video {
    border-radius: 1em;
}

video {
    width: 100%;
}

/* image row sections */

section.image-row {
    display: flex;
    flex-direction: row;
    gap: var(--normal-gap);
}

section.image-row img {
    width: 100%;
    height: auto;
    min-width: 0;
}

/* photo-contact section */

#photo-contact {
    display: flex;
    gap: var(--normal-gap);
}

#photo-container {
    flex: 1 1 0;
}

#photo-container img {
    width: 100%;
}

#contact-info {
    flex: 2 2 0;
    flex-direction: column;
}

/* contact info list */
#contact-info ul {
    list-style-type: none;
    padding-left: 1em;
}

/* media queries */

@media screen and (max-width: 800px) {
    section.image-row {
        flex-direction: column;
    }

    #photo-container {
        flex: 2 2 0;
    }
}

@media screen and (max-width: 600px) {
    #photo-contact {
        flex-direction: column;
        gap: 0;
    }

    #photo-container {
        width: 100% !important;
    }
}

/* form */

form {
    display: flex;
    flex-direction: column;
}

form :is(label, input, textarea) {
    font-family: inherit;
    color: inherit;
    font-size: 1rem;
}

form :is(input, textarea) {
    color: var(--text-form);
    background-color: var(--background-form);

    margin-bottom: 8px;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 0.5em;
    border: 2px solid var(--border-color);
}

form ::placeholder {
    color: var(--text-form);
    opacity: 0.5;
}

form textarea {
    min-height: 5em;
    width: 100%;
    resize: vertical;
}

form input[type="submit"] {
    color: var(--text-colour);
    background-color: var(--confirm);
    cursor: pointer;

    width: min-content;
    padding: 0.5em 1em;
    transition: background-color 0.2s;
}

form input[type="submit"]:hover {
    background-color: var(--confirm-hover);
}

/* animations */
:root {
    --motion-time: 0.5s;
    --motion-scale: 16px;
}

@keyframes animate-body {
    0% {
        opacity: 0;
        transform: scale(10, 1);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-fly-left {
    0% {
        opacity: 0;
        transform: translate(calc(var(--motion-scale) * -1), 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes fade-fly-right {
    0% {
        opacity: 0;
        transform: translate(var(--motion-scale), 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes fade-fly-up {
    0% {
        opacity: 0;
        transform: translate(0, calc(var(--motion-scale) * -1));
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes fade-fly-down {
    0% {
        opacity: 0;
        transform: translate(0, var(--motion-scale));
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

/* special keyframe for those li */
@keyframes fade-fly-right-margin {
    0% {
        opacity: 0;
        margin-left: var(--motion-scale);
    }

    100% {
        opacity: 1;
        margin-left: 0;
    }
}

#photo-container img {
    animation: fade-fly-left var(--motion-time) ease-out;
}

#contact-info h3 {
    animation: fade-fly-up var(--motion-time) ease-out;
}

#contact-info ul > li {
    --delay-gradient: 0.1s;
    
    animation-fill-mode: both;
}

#contact-info ul > li:nth-child(1) {
    animation-delay: calc(0 * var(--delay-gradient));
}

#contact-info ul > li:nth-child(2) {
    animation-delay: calc(1 * var(--delay-gradient));
}

#contact-info ul > li:nth-child(3) {
    animation-delay: calc(2 * var(--delay-gradient));
}

#contact-info ul > li > :first-child {
    animation: fade-fly-left var(--motion-time) ease-out;
    animation-delay: inherit;
    animation-fill-mode: inherit;
}

#contact-info ul > li > :last-child {
    animation: fade-fly-right-margin var(--motion-time) ease-out;
    animation-delay: inherit;
    animation-fill-mode: inherit;
}

#contact-info > p {
    animation: fade-fly-down var(--motion-time) ease-out;
    animation-delay: 0.5s;
    animation-fill-mode: both;
}

.image-row img {
    animation: fade-fly-down var(--motion-time) ease-out;
    animation-delay: inherit;
    animation-fill-mode: both;
}

main {
    --delay-gradient: 0.5s;
    --delay-all: 0.2s;
}

main > *:nth-of-type(2) {
    animation-delay: calc(1 * var(--delay-gradient) + var(--delay-all));
}

main > *:nth-of-type(3) {
    animation-delay: calc(2 * var(--delay-gradient) + var(--delay-all));
}

main > *:nth-of-type(4) {
    animation-delay: calc(3 * var(--delay-gradient) + var(--delay-all));
}

@media screen and (min-width: 800px) {
    .image-row > :first-child {
        animation-name: fade-fly-left;
    }

    .image-row > :last-child {
        animation-name: fade-fly-right;
    }
}

.video-montage > * {
    animation: fade-fly-down var(--motion-time) ease-out;
    animation-fill-mode: both;
    animation-delay: inherit;
}

#contact-form {
    animation: fade-fly-down var(--motion-time) ease-out;
}
